# Utiliser la variable PORT ou 8000 par défaut
{$PORT:8000} {
             root * /app/public
             php_fastcgi /app/public
             file_server
             # Redirection vers index.php pour Laravel
             try_files {path} {path}/ /index.php?{query}
             encode gzip
             }
